@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.header {
  width: 100%;
  height: 50dvh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: darkmagenta;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.headerComponents {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  flex-grow: 0;
  flex-basis: 1;
  row-gap: 120px;
  align-items: center;
}

.headerTitle {
  text-align: end;
  max-width: 500px;
  flex-direction: column;
  color: white;
  transform: translateY(70px);
}

.headerComponents h1 {
  margin: 0;
  font-family: "Lobster", sans-serif;
  letter-spacing: 2px;
  font-size: 6rem;
}
.headerTitle div > p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .headerComponents h1 {
    font-size: 5rem;
  }
}
