@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.formContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.formC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  margin-top: 16px;
  color: darkmagenta;
  font-family: "Poppins", sans-serif;
}
