@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-grow: 1;
  background-color: darkmagenta;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbox2 {
  display: flex;
  justify-content: center;
}

.navbox2 h1 {
  color: white;
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

.navbox3 {
  display: flex;
  justify-content: flex-end;
}

.btn {
  position: relative;
  right: 50px;
  margin-right: 10px;
}
@media screen and (max-width: 899px) {
  .navbox3 {
    justify-content: end;
    margin-bottom: 10px;
  }
  .navbox2 {
    justify-content: start;
    margin-bottom: 10px;
  }
}

.cartBox {
  font-family: "Poppins", sans-serif;
}
