.formContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.formC {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
