.inputWrapper {
  display: flex;
  column-gap: 10px;
  max-width: 550px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 10px;
  align-items: center;
}

input {
  outline-style: none;
  border-style: none;
  width: 450px;
  height: 50px;
  font-size: 1.5rem;
  background-color: transparent;
}

input:focus {
  outline-style: none;
}

.icon {
  font-size: 40px;
}

@media screen and (480px < width <= 601px) {
  .inputWrapper {
    max-width: 450px;
  }
  input {
    width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .inputWrapper {
    max-width: 350px;
  }
  input {
    width: 250px;
    font-size: 1.2rem;
  }
  .fabBtn {
    height: 50px;
  }
  .icon {
    font-size: 30px;
  }
}
